body{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding-top: 35px;
}
main h1{
    color:rgb(114,56,9)
}

form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 10px;
    color: #2229;
    font-weight: 600;
    padding: 20px 0;
}
form captcha{
    grid-column-start: 1;
    grid-column-end: 3;
}
form #captcha_form{
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #9998;
}

form input[type=email], form input[type=text], form input[type=password]{
    border:none;
    outline:none;
    border-bottom: 1px solid #222c;
    margin: 3px 0;
}

form input[type=submit]{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: coral;
    font-size: 25px;
    border:none;
    outline: none;
    border-radius: 5px;
}